
.obj.unread * {font-weight:bold}

.editornotes {
	background-color: #ffffff;
	color:#000 !important;
	font-size:1em !important;
	width: 100%;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* ticketSeverity colors */

.critical {color:#cc0000}
.major {}
.normal {}
.minor {}

/* ticketStatus colors */

.new {color:#ffff00}
.assigned{}
.analysis{}
.development{}
.test{}
.resolved {color:#339900 !important;}
.unresolvable {}
.obsolete {}

ul.users-relations li {
	display:inline;
	padding:4px 5px 4px 5px;
	width:auto;
}

.cell.position {
    clear: both;
    float:none;
    min-height:0px;
}

.cell.ticket-status {
    clear: both;
    float:none;
    min-height:0px;
    white-space:normal;
}

.cell.ticket-status UL {
   display:inline-block;
   white-space: nowrap;
   border-right: 1px solid #999;
   padding: 5px 5px 5px 10px;
}

.cell.ticket-status UL:last-child {
    border-right: 0px solid #999;
}

.cell.ticket-status LI {
   display:inline-block;
   padding-right: 5px
}



